* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "Arial", "sans-serif";
}

.facebook-header {
  background-color: #252728;
  padding: 0.5rem 0.75rem;
}

.logo-search {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo-search .fa-solid {
  position: absolute;
  padding: 1rem 4rem;
  color: #bcbcbc;
}

.facebook-logo {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 8px;
}

.search-box {
  height: 2.5rem;
  background-color: #333334;
  border: none;
  border-radius: 2.5rem;
  padding: 0.5rem 2.3rem;
  font-size: 1rem;
  color: #bcbcbc;
}
