* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", "sans-serif";
}

body {
  background-color: #1c1c1d;
  padding-top: 5rem;
  padding-left: 21rem;
}

.facebook-header {
  background-color: #252728;
  padding: 0.5rem 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.logo-search {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo-search .fa-solid {
  position: absolute;
  padding: 1rem 4rem;
  color: #bcbcbc;
}

.facebook-logo {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 8px;
}

.search-box {
  height: 2.5rem;
  background-color: #333334;
  border: none;
  border-radius: 2.5rem;
  padding: 0.5rem 2.3rem;
  font-size: 1rem;
  color: #bcbcbc;
}

.navbar button {
  padding: 1rem 3rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #bcbcbc;
}

.navbar button:hover {
  background-color: #3b3d3e;
  border-radius: 1rem;
}

.navbar button:active {
  color: #0866ff;
}

.navbar button.active {
  color: #0866ff;
}

.navbar button i {
  font-size: 1.5rem;
}

.side-navbar {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.5rem;
  align-items: center;
}

.side-navbar button {
  padding: 0.75rem;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background-color: #3b3d3e;
  color: #e2e5e9;
}

.side-navbar button i {
  font-size: 1.25rem;
}

.profile-picture {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 100%;
  cursor: pointer;
}

.profile-pic-menu {
  position: absolute;
  top: 2.5rem;
  right: 0.75rem;
  font-size: 0.5rem;
  background-color: #3b3d3e;
  color: #e2e5e9;
  padding: 0.25rem;
  border: 2px solid #252728;
  border-radius: 100%;
  z-index: 1;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 4.5rem;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 20rem;
  height: auto;
  padding: 1rem 0.5rem;
  background-color: #1c1c1d;
  color: #fffafa;
  font-weight: bold;
  font-size: 1rem;
}

.sidebar div {
  display: grid;
  grid-template-columns: 4rem auto;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem 0.5rem;
  margin-bottom: 0.5rem;
}

.sidebar div:hover,
.contacts-name:hover,
.part-two div:hover,
.profile-react div:hover {
  background-color: #3b3d3e;
  border-radius: 10px;
}

.profile-side {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  margin-left: 1rem;
}

.sidebar-icon {
  font-size: 1.4rem;
  color: #1a83f4;
  text-align: center;
}

.see-more-btn {
  color: #e2e5e9;
  background-color: transparent;
  padding: 0.25rem;
  border: none;
  font-size: 1.25rem;
}

.contacts-sidebar {
  position: fixed;
  top: 4.5rem;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 15rem;
  height: auto;
  padding-top: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
  background-color: #1c1c1d;
}

.contacts-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bcbcbc;
  margin-bottom: 0.5rem;
}

.contacts-heading h2 {
  font-size: 1rem;
}

.contacts-icons {
  cursor: pointer;
}

.contacts-icons .fa-magnifying-glass {
  font-size: 1rem;
  margin-right: 1.25rem;
  padding: 0.6rem;
}

.contacts-icons .fa-ellipsis {
  font-size: 1.25rem;
  padding: 0.5rem 0.6rem;
}

.contacts-icons .fa-magnifying-glass:hover,
.contacts-icons .fa-ellipsis:hover {
  background-color: #3b3d3e;
  border-radius: 100%;
}

.contacts-name {
  display: grid;
  grid-template-columns: 3rem auto;
  align-items: center;
  color: #fffafa;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.contacts-name img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
}

.contacts-name .online-status {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #39a23f;
  border-radius: 100%;
  border: 2px solid #1c1c1d;
  position: absolute;
  top: 6.25rem;
  left: 2.75rem;
}

.online-status2 {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #39a23f;
  border-radius: 100%;
  border: 2px solid #1c1c1d;
  position: absolute;
  top: 10rem;
  left: 2.75rem;
}

.online-status3 {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #39a23f;
  border-radius: 100%;
  border: 2px solid #1c1c1d;
  position: absolute;
  top: 13.75rem;
  left: 2.75rem;
}

.online-status4 {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #39a23f;
  border-radius: 100%;
  border: 2px solid #1c1c1d;
  position: absolute;
  top: 17.5rem;
  left: 2.75rem;
}

.online-status5 {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #39a23f;
  border-radius: 100%;
  border: 2px solid #1c1c1d;
  position: absolute;
  top: 21.25rem;
  left: 2.75rem;
}

.online-status6 {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #39a23f;
  border-radius: 100%;
  border: 2px solid #1c1c1d;
  position: absolute;
  top: 25rem;
  left: 2.75rem;
}

.online-status7 {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #39a23f;
  border-radius: 100%;
  border: 2px solid #1c1c1d;
  position: absolute;
  top: 28.75rem;
  left: 2.75rem;
}

.facebook-content {
  padding-top: 1rem;
  padding-left: 6rem;
  width: 45rem;
}

.create-post {
  background-color: #252728;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.create-post .part-one {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.create-post img {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 100%;
  cursor: pointer;
}

.placeholder-post {
  width: 100%;
  margin-left: 0.5rem;
  background-color: #333334;
  border: none;
  border-radius: 2.5rem;
  padding: 0.75rem;
  font-size: 1.25rem;
  color: #bcbcbc;
}

.placeholder-post:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.create-post hr {
  border: 1px solid #333334;
  border-radius: 1rem;
}

.create-post .part-two {
  margin-top: 0.5rem;
  color: #bcbcbc;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto auto auto;
}

.part-two div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  cursor: pointer;
}

.part-two div i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.part-two div .fa-video {
  color: #ed2748;
}

.part-two div .fa-images {
  color: #3a9050;
}

.part-two div .fa-face-smile {
  color: #d8a328;
}

.profile-section {
  display: grid;
  grid-template-columns: auto 4rem;
  align-items: center;
}

.profile-status .profile-name,
.profile-post p {
  color: #fffafa;
}

.profile-user {
  display: grid;
  grid-template-columns: 3.25rem auto;
  align-items: center;
  margin-bottom: 0.5rem;
}

.profile-status {
  display: flex;
  flex-direction: column;
}

.profile-status .profile-name {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.profile-status .profile-post-time {
  color: #bcbcbc;
  font-size: 0.8rem;
}

.profile-icons {
  color: #bcbcbc;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.profile-icons i:hover {
  cursor: pointer;
}

.profile-post {
  margin-bottom: 0.5rem;
}

.profile-react {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  color: #bcbcbc;
  font-size: 1rem;
  font-weight: bold;
}

.profile-react div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  cursor: pointer;
}

.profile-react div i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
