* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "Arial", "sans-serif";
}

.facebook-header {
  background-color: #252728;
  padding: 0.5rem 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-search {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo-search .fa-solid {
  position: absolute;
  padding: 1rem 4rem;
  color: #bcbcbc;
}

.facebook-logo {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 8px;
}

.search-box {
  height: 2.5rem;
  background-color: #333334;
  border: none;
  border-radius: 2.5rem;
  padding: 0.5rem 2.3rem;
  font-size: 1rem;
  color: #bcbcbc;
}

.navbar button {
  padding: 0.5rem 3rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #bcbcbc;
}

.navbar button i {
  font-size: 1.5rem;
}

.side-navbar {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.5rem;
  align-items: center;
}

.side-navbar button {
  padding: 0.75rem;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background-color: #3b3d3e;
  color: #e2e5e9;
}

.side-navbar button i {
  font-size: 1.25rem;
}

.profile-picture {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 100%;
  cursor: pointer;
}

.profile-pic-menu {
  position: absolute;
  top: 2rem;
  right: 0.75rem;
  font-size: 0.5rem;
  background-color: #3b3d3e;
  color: #e2e5e9;
  padding: 0.25rem;
  border: 1px solid #252728;
  border-radius: 100%;
  z-index: 1;
  cursor: pointer;
}
